{% extends "base.html" %}

  {% block content %}
    <h1>Add book</h1>
    <form method="POST" action="/">
      <input placeholder="title" type="text" name="title">
      <input placeholder="author" type="text" name="author">
      <input type="submit" value="Add">
    </form>
    
    <table>
      <tr>
        <th>Books</th>
        <th>Authors</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>
          {{book.title}}
        </td>
        <td>
          {{book.author}}
        </td>
        <td>
          <form method="POST" action="./update" style="display: inline">
            <input type="hidden" value="{{book.title}}" name="oldtitle">
            <input type="text" value="{{book.title}}" name="newtitle">
            <input type="submit" value="Update">
          </form>
        </td>
        <td>
          <form method="POST" action="./delete" style="display: inline">
            <input type="hidden" value="{{book.title}}" name="title">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% endblock %}

